<div *ngIf="loading()" class="loading-spinner">
    Loading posts...
  </div>
  
  <div *ngIf="!loading() && posts.length > 0" class="posts">
    <div *ngFor="let postGroup of posts.controls" class="post">
      <div class="post-header">
        <h3>{{ postGroup.value.title }}</h3>
        <button (click)="onDelete(postGroup.value.id)">Delete</button>
      </div>
      <p>{{ postGroup.value.body }}</p>
    </div>
  </div>
  
  <div *ngIf="!loading() && posts.length === 0" class="no-posts">
    No posts found.
  </div>
  